@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ---------------------------------- font ---------------------------------- */
.inter-font {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	/* // <weight>: Use a value from 100 to 900 */
	font-style: normal;
}

.dancing-script-font {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	/* // <weight>: Use a value from 400 to 700 */
	font-weight: 400;
	font-style: normal;
}

/* --------------------------------- common --------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #fff;
}

:root {
	--primary-color: #e6533c;
}

.max-width {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 16px;
}

.primary-color {
	color: var(--primary-color);
}

.primary-btn {
	background: var(--primary-color);
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

.secondary-btn {
	background: #000;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 50px;
	border: 1px solid white;
	cursor: pointer;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.gap-8px {
	gap: 8px;
}

.gap-16px {
	gap: 16px;
}

.gap-32px {
	gap: 32px;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.border {
	border: 1px solid red;
}

/* --------------------------------- navbar --------------------------------- */
.nav-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 50px 10px;
}

.nav-main .nav-website-name {
	font-size: 36px;
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
}

.nav-main ul {
	display: flex;
	align-items: center;
}

.nav-main li {
	list-style-type: none;
	font-weight: bold;
	margin-right: 24px;
	cursor: pointer;
}

/* --------------------------------- banner --------------------------------- */
.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.banner .banner-title {
	font-size: 78px;
	font-weight: 900;
}
.banner .banner-description {
	color: #ffffff80;
}

.banner-img-section {
	position: relative;
}

.banner-500p {
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	right: 50px;
	top: 120px;
}

.banner-500p h3 {
	font-size: 40px;
	font-weight: 900;
}

.banner-500p-des {
	color: rgba(255, 255, 255, 0.65);
}

.banner-300p {
	position: absolute;
	background: rgba(48, 48, 48, 0.54);
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	bottom: 100px;
	left: 0;
}

.banner-300p-red-ball {
	font-size: 40px;
	color: rgb(230, 83, 60);
}

.banner-300p h4 {
	font-size: 24px;
	font-weight: 900;
}

.banner-300p-des {
	color: rgba(255, 255, 255, 0.65);
}
/* ------------------------------- mobile view ------------------------------ */
@media screen and (max-width: 576px) {
	/* --------------------------------- navbar --------------------------------- */
	.nav-main {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.nav-main .fa-bars {
		display: block;
	}

	.nav-main ul {
		display: none;
	}

	/* --------------------------------- banner --------------------------------- */
	.banner {
		grid-template-columns: 1fr;
	}

	.banner .banner-title {
		font-size: 36px;
	}

	.banner-500p h3 {
		font-size: 30px;
	}

	.banner-500p-des {
		font-size: 10px;
	}
}
