@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ---------------------------------- font ---------------------------------- */
.inter-font {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	/* // <weight>: Use a value from 100 to 900 */
	font-style: normal;
}

.dancing-script-font {
	font-family: "Dancing Script", cursive;
	font-optical-sizing: auto;
	/* // <weight>: Use a value from 400 to 700 */
	font-weight: 400;
	font-style: normal;
}

/* --------------------------------- common --------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #fff;
}

:root {
	--primary-color: #e6533c;
	--secondary-color: rgba(255, 255, 255, 0.5);
}

.max-width {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 16px;
}

.section-margin {
	margin-top: 100px;
	margin-bottom: 100px;
}

.section-title {
	font-size: 40px;
	font-weight: 900;
	color: #fff;
	margin-bottom: 12px;
}

.section-des {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 48px;
}

.primary-color {
	color: var(--primary-color);
}
.secondary-color {
	color: var(--secondary-color);
}
.primary-btn {
	background: var(--primary-color);
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}

.secondary-btn {
	background: #000;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	padding: 12px 16px;
	border-radius: 50px;
	border: 1px solid white;
	cursor: pointer;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.gap-8px {
	gap: 8px;
}
.gap-16px {
	gap: 16px;
}
.gap-32px {
	gap: 32px;
}

.margin-top-8px {
	margin-top: 8px;
}
.margin-top-16px {
	margin-top: 16px;
}
.margin-top-32px {
	margin-top: 32px;
}

.margin-bottom-8px {
	margin-bottom: 8px;
}
.margin-bottom-16px {
	margin-bottom: 16px;
}
.margin-bottom-32px {
	margin-bottom: 32px;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.text-center {
	text-align: center;
}

.border {
	border: 1px solid red;
}

/* --------------------------------- navbar --------------------------------- */
.nav-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 50px 10px;
}

.nav-main .nav-website-name {
	font-size: 36px;
	font-weight: 800;
	font-style: italic;
	cursor: pointer;
}

.nav-main ul {
	display: flex;
	align-items: center;
}

.nav-main li {
	list-style-type: none;
	font-weight: bold;
	margin-right: 24px;
	cursor: pointer;
}

/* --------------------------------- banner --------------------------------- */
.banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.banner .banner-title {
	font-size: 78px;
	font-weight: 900;
}
.banner .banner-description {
	color: #ffffff80;
}

.banner .primary-btn,
.secondary-btn {
	padding-left: 32px;
	padding-right: 32px;
}

.banner-img-section {
	position: relative;
}

.banner-500p {
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	right: 50px;
	top: 120px;
}

.banner-500p h3 {
	font-size: 40px;
	font-weight: 900;
}

.banner-500p-des {
	color: rgba(255, 255, 255, 0.65);
}

.banner-300p {
	position: absolute;
	background: rgba(48, 48, 48, 0.54);
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	bottom: 100px;
	left: 0;
}

.banner-300p-red-ball {
	font-size: 40px;
	color: rgb(230, 83, 60);
}

.banner-300p h4 {
	font-size: 24px;
	font-weight: 900;
}

.banner-300p-des {
	color: rgba(255, 255, 255, 0.65);
}

/* --------------------------- Change Your Habits --------------------------- */
.change-habits-card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
}

.change-habits-img {
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.change-habits-name {
	font-size: 18px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 8px;
}

.change-habits-des {
	color: rgba(255, 255, 255, 0.5);
}

/* ------------------------------- Run section ------------------------------ */
.run-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	background: rgb(34, 34, 34);
	padding: 32px;
	border-radius: 16px;
}
.run-btn {
	padding-left: 32px;
	padding-right: 32px;
}
.run-img-box img {
	width: 100%;
}
.run-img {
	width: 100%;
	border-radius: 16px;
}

/* ------------------------------- bmi section ------------------------------ */
.bmi-main {
	background: rgb(34, 34, 34);
	padding: 50px 0;
}
.bmi-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 32px;
}
.bmi-chart-title {
	margin-bottom: 32px;
	font-size: 28px;
}
.bmi-main table {
	width: 90%;
	text-align: left;
	border-collapse: collapse;
}
.bmi-main td {
	color: rgba(255, 255, 255, 0.5);
}
.bmi-main th,
td {
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 6px;
	font-size: 12px;
}
.bmi-calc-title {
	font-size: 28px;
}
.bmi-calc-des {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}
.bmi-calc-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
}
.bmi-calc-select-an {
	grid-column: 1 / span 2;
}
.bmi-main input {
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	padding-left: 16px;
	border-radius: 8px;
	border: none;
}

/* ------------------------------ meet section ------------------------------ */
.run-section-card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}
.run-section-card {
	height: 272px;
	background-color: rgb(0, 0, 0, 0.2);
	background-blend-mode: overlay;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 16px;
}
.run-card-1-img {
	background-image: url("../images/trainer1.png");
}
.run-card-2-img {
	background-image: url("../images/trainer2.png");
}
.run-card-3-img {
	background-image: url("../images/trainer3.png");
}
.run-card-4-img {
	background-image: url("../images/trainer4.png");
}
.run-card-5-img {
	background-image: url("../images/trainer5.png");
}
.run-card-6-img {
	background-image: url("../images/trainer6.png");
}
.run-card-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: end;
	height: 272px;
	padding-left: 16px;
	padding-bottom: 16px;
	border-radius: 16px;
}
.run-card-occupation {
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
}

/* ------------------------------- faq section ------------------------------ */
.faq-section {
	margin-left: 32px;
	margin-right: 32px;
}
.faq-item {
	margin-bottom: 24px;
}
.faq-item p {
	color: var(--secondary-color);
}

/* --------------------------------- footer --------------------------------- */
.footer-container {
	display: grid;
	grid-template-columns: 2fr repeat(2, 1fr);
	gap: 16px;
	padding: 50px 0;
}
.footer-title {
	font-size: 70px;
	font-weight: 800;
	margin-bottom: 20px;
	cursor: pointer;
	font-style: italic;
}

.footer-des {
	width: 80%;
	font-size: 12px;
}
.footer-col-title {
	margin-bottom: 24px;
}
.footer-col-link {
	list-style: none;
	margin-top: 12px;
}
.footer-col-link a {
	text-decoration: none;
	color: var(--secondary-color);
}
.footer-hr {
	border-color: var(--secondary-color);
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- mobile view ------------------------------ */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 576px) {
	/* --------------------------------- navbar --------------------------------- */
	.nav-main {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.nav-main .fa-bars {
		display: block;
	}

	.nav-main ul {
		display: none;
	}

	/* --------------------------------- banner --------------------------------- */
	.banner {
		grid-template-columns: 1fr;
	}

	.banner .banner-title {
		font-size: 36px;
	}

	.banner-500p h3 {
		font-size: 30px;
	}

	.banner-500p-des {
		font-size: 10px;
	}

	banner .primary-btn,
	.secondary-btn {
		padding: 12px 16px;
	}

	.section-title {
		font-size: 32px;
	}

	/* --------------------------- Change Your Habits --------------------------- */
	.change-habits-card-container {
		grid-template-columns: 1fr;
	}

	/* ------------------------------- Run section ------------------------------ */
	.run-section {
		grid-template-columns: 1fr;
	}
	.run-btn {
		width: 100%;
	}

	/* ------------------------------ meet section ------------------------------ */
	.run-section-card-container {
		grid-template-columns: 1fr;
	}

	/* --------------------------------- footer --------------------------------- */

	.footer-container {
		grid-template-columns: 1fr;
		gap: 64px;
		padding-top: 0px;
	}
	.footer-column {
		margin-left: 32px;
	}

	/* ------------------------------- bmi section ------------------------------ */
	.bmi-container {
		grid-template-columns: 1fr;
	}
}
